{% extends 'IncolabForumBundle::layout.html.twig' %}
{% block forum %}
    <div class="row">
        <div class="large-12 columns">
         <div class="cadre_parentC_forum text-center">
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
         </div>
         <div class="cat_forum">    
            {% for element in category.childs %}
                <h4><a href="{# {{ path('incolab_forum_admin_subcategory_add', {'slugParentCat': category.slug }) }} #}">{{ element.name }}</a></h4>
                <p>{{ element.description }}</p>
                <hr/>
            {% endfor %}
            
            
            {{ form_start(childCatForm) }}
            {{ form_widget(childCatForm) }}
            <input type="submit" class="button" value="Submit"/>
            {{ form_end(childCatForm) }}
        </div>
        
    </div>
{% endblock %}
