{% extends 'IncolabForumBundle::layout.html.twig' %}

{% block forum %}
    {% if categories is not empty %}
        {% for element in categories %}
    <div class="large-12 columns">
        <div class="cadre_parentC_forum">
            <h3 class="text-center"><a href="{{ path('incolab_forum_parentCategory_show', {'slugParentCat': element.slug }) }}">{{ element.name }}</a> | <a href="">Supprimer la catégorie</a></h3>
            <p>{{ element.description }}</p>
        </div>
        <div class="cat_forum">
            <div class="row">
                {% for subcat in element.childs %}
                <div class="large-12 medium-12 columns">
                    <h4><a href="{# {{ path('incolab_forum_admin_subcategory_add', {'slugParentCat': element.slug }) }} #}">{{ subcat.name }}</a></h4>
                    <p>{{ subcat.description }}</p>
                    <hr/>
                </div>
                {% endfor %}
                    
                <div class="large-12 medium-12 columns">
                    <h4><a href="{{ path('incolab_forum_admin_child_category_add', {'slugParent': element.slug }) }}">Ajouter une sous catégorie.</a></h4>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    {% else %}
    <div class="large-12 columns">
        <h4>No parent category at the moment.</h4>
    </div>
    {% endif %}
    <div class="large-12 columns">
        <div class="cadre_parentC_forum">
            <h4 class="text-center">Add a parent Category</h4>
        </div>
        <div class="cat_forum">
            {{ form_start(parentCatForm) }}
            {#{{ form_widget(parentCatForm) }}#}
            {{ form_row(parentCatForm.name) }}
            {{ form_row(parentCatForm.description) }}
            {{ form_label(parentCatForm.readRoles) }}
            <ul id="read-roles-fields-list" data-prototype="{{ form_widget(parentCatForm.readRoles.vars.prototype)|e }}">
            {% for readRolesFields in parentCatForm.readRoles %}
                <li>
                    {{ form_errors(readRolesFields) }}
                    {{ form_row(readRolesFields) }}
                </li>
            {% endfor %}
                <li><a href="#" id="add-another-read-role">Add read role</a></li>
            </ul>
            {{ form_label(parentCatForm.writeRoles) }}
            <ul id="write-roles-fields-list" data-prototype="{{ form_widget(parentCatForm.writeRoles.vars.prototype)|e }}">
            {% for readRolesFields in parentCatForm.writeRoles %}
                <li>
                    {{ form_label(writeRolesFields) }}
                    {{ form_errors(writeRolesFields) }}
                    {{ form_row(writeRolesFields) }}
                </li>
            {% endfor %}
                <li><a href="#" id="add-another-write-role">Add write role</a></li>
            </ul>
            
            {{ form_row(parentCatForm.position) }}
            
            <input type="submit" class="button" value="Submit"/>
            {{ form_end(parentCatForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
 
    var readRolesCount = '{{ parentCatForm.readRoles|length }}';
    var writeRolesCount = '{{ parentCatForm.writeRoles|length }}';
 
    jQuery(document).ready(function() {
        $('#add-another-read-role').click(function(e) {
            e.preventDefault();
 
            var rolesList = $('#read-roles-fields-list');
 
            // grab the prototype template
            var newWidget = rolesList.attr('data-prototype');
 
            newWidget = newWidget.replace(/__name__/g, readRolesCount);
            readRolesCount++;
 
            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(rolesList);
        });
 
        $('#add-another-write-role').click(function(e) {
            e.preventDefault();
 
            var rolesList = $('#write-roles-fields-list');
 
            // grab the prototype template
            var newWidget = rolesList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, writeRolesCount);
            writeRolesCount++;
 
            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(rolesList);
        });
    })
</script>
{% endblock javascripts %}
