{% extends 'IncolabForumBundle::layout.html.twig' %}
{% block forum %}
    <div class="large-12 columns">
        <div class="cadre_parentC_forum">
            <h2 class="text-center">Add a parent Category</h2>
        </div>
        <div class="cat_forum">    
            {{ form_start(parentCatForm) }}
            {{ form_widget(parentCatForm) }}
            <input type="submit" class="button" value="Submit"/>
            {{ form_end(parentCatForm) }}
        </div>
    </div>
{% endblock %}
